@using TaxSystemNASS.Models
@{
    ViewData["Title"] = "ReviewRefi";
}

@{
    var refiAddress = (Address)ViewData["RefiAdder"];
    var refiInfo = (PersonalInfo)ViewData["RefiInfo"];
}



<h1>RefiPlaced</h1>

<p> Refi Order Sent </p>

