@model TaxSystemNASS.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="OrderGuid" class="control-label"></label>
                <input asp-for="OrderGuid" class="form-control" readonly />
                <span asp-validation-for="OrderGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Not Started">Not Started</option>
                    <option value="WIP">WIP</option>
                    <option value="ACTION NEEDED">ACTION NEEDED</option>
                    <option value="Late - Not Started">Late - Not Started</option>
                    <option value="Late - WIP">Late - WIP</option>
                    <option value="Late - ACTION NEEDED">Late - ACTION NEEDED</option>
                    <option value="Completed">Completed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPlaced" class="control-label"></label>
                <input asp-for="OrderPlaced" class="form-control" />
                <span asp-validation-for="OrderPlaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderEta" class="control-label"></label>
                <input asp-for="OrderEta" class="form-control" />
                <span asp-validation-for="OrderEta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="OrderDetails" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}