@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityUser> RoleManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Create person:  <a asp-action="CreatePerson">CreatePerson</a></p>
    <p>Create user:  <a asp-action="CreateUser">CreateUser</a></p>

    @if (true)
    {
        <p>im going to shoot myself in the head because it was so much easier than i thought.</p>
    }

</div>

