@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p>Create person:  <a asp-action="CreatePerson">CreatePerson</a></p>
        <p>Create user:  <a asp-action="CreateUser">CreateUser</a></p>
    </div>
