@{
    ViewData["Title"] = "PlaceOrder";
}


<h1>Type</h1>

<hr />
<div class="container-fluid">
    <form method="post" asp-action="">
        <div class="form-row">
            <h4 class="text-info">What kind of order is this?</h4>
        </div>
        <div class="form-row">
            <div class="col">
                <button class="btn-primary" id="RefiBtn"  asp-action="PlaceRefiOrder">Refinance</button>
            </div>
            <div class="col">
                <button class="btn-primary" id="PurchaseBtn"  asp-action="PlacePurchaseOrder">Purchase</button>
            </div>
        </div>
    </form>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

